<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MainDb"
			 connectionString="Server=DESKTOP-KKCA33K;Database=InstagramDb;Trusted_Connection=True;TrustServerCertificate=True;" />
		<add name="RootPath"
			 connectionString="C:\Programs\Instagram\Instagram" />
	</connectionStrings>
</configuration>